<footer>
	<p>&copy; 2024 Andrés Cebrián. Desde Utrillas haciendo chapuzas :D.</p>
</footer>

<style>
	footer {
		background-color: #333;
		color: white;
		text-align: center;
		padding: 1rem;
		margin-top: 2rem;
	}
</style>