<header>
	<nav>
		<a href="/">Inicio</a>
		<a href="/roadmaps">Roadmaps</a>
		<a href="/about">Acerca de</a>
	</nav>
</header>

<style>
	header {
		background-color: #333;
		color: white;
		padding: 1rem;
	}
	nav {
		display: flex;
		justify-content: space-around;
	}
	a {
		color: white;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
</style>